
<launch>
  <include file="$(find cartographer_webots)/launch/webots.launch" />

  <node name="keyboard" pkg="cartographer_webots" type="keyboard"/>

  <node name="robot_broadcaster" pkg="cartographer_webots" type="robot_broadcaster_cartographer" />

  <!-- open rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cartographer_webots)/rviz/robot_cartographer.rviz" /> 

  <!-- Cartographer  -->
  <param name="/use_sim_time" value="true" />
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_webots)/config/cartographer_config
          -configuration_basename revo_lds.lua"
      output="screen" >
    <remap from="scan" to="robot/Sick_LMS_291/laser_scan/layer0" />
    <remap from="odom" to="robot/odom" />
  </node>
  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

  <!-- move_base 导航> -->
  <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
    <rosparam file="$(find cartographer_webots)/config/base/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find cartographer_webots)/config/base/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find cartographer_webots)/config/base/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find cartographer_webots)/config/base/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find cartographer_webots)/config/base/base_local_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="cmd_vel"/>
    <remap from="odom" to="robot/odom"/>
    <remap from="scan" to="robot/Sick_LMS_291/laser_scan/layer0"/>

    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
  </node>
</launch>